%div{:"ng-controller" => "CrestsCtrl"}
  %form#title-form
    %label
      Title:
      %span{:"ng:bind" => "myText"}

    %input#myText{:"data-ng-model" => "myText", :placeholder => "Enter a name here", :type => "text", :autofocus => ''}/
    / %input#textVal{:"data-ng-model" => "myText", :placeholder => "Enter a name here", :type => "text", :value => 'this is centered text !'}/
    %br/
    / %input#puzzle{:type => "checkbox", :value => "puzzlize"} Puzzlize It?
    %input.btn.btn-inverse{:type => "Submit", :value => "Generate Crest"}

    / .addthis_toolbox.addthis_default_style
    %a.addthis_button_pinterest_pinit
    %a.addthis_button_facebook
    %a.addthis_button_twitter
    %a.addthis_button_email

    %hr/

    / %h2{:"ng:bind" => "myText"} test
    / %div{:"crest-text" => '', :"data-my-text" => "myText"}

    #crest
      / #crestText.bree.box.normal{:"crest-text" => '', :"data-my-text" => "myText"} {{yourName}}

      #text.hide{:"crest-text" => '', :"data-my-text" => "myText"}

      #crestImage
        %img{:src => '/crests/crest_01.png'}

    / #newImage
    /   %img{:src => ''}

  .hidden-container
    / %h2.bree.box.normalinside No alignment, text inside
    / %h2.bree.box.alignedleft Aligned left
    / %h2.bree.box.alignedleftinside Aligned left, text inside
    / %h2.bree.box.alignedleft90deg Aligned left, angle 90 deg
    / %h2.bree.box.alignedleft90deginside Aligned left, text inside, angle 90 deg
    / %h2.bree.box.alignedright Aligned right, text outside
    / %h2.bree.box.alignedrightinside Aligned right, text inside
    / %h2.bree.box.alignedright90deg Aligned right, text outside, angle 90 deg
    / %h2.bree.box.alignedright90deginside Aligned right, text inside, angle 90 deg
    / %h2.bree.box.normalskewed No alignment, rotationmode "skew"
    / %h2.bree.box.normalstep No alignment, rotationmode "step"


  / %canvas#canvas{:style => "margin-top: 100px", :width => "500", :height => "200"}

  #result

/ AddThis Button BEGIN
/ .addthis_toolbox.addthis_default_style
/   %a.addthis_button_facebook_like{"fb:like:layout" => "button_count"}
/   %a.addthis_button_tweet
/   %a.addthis_button_pinterest_pinit
/   %a.addthis_counter.addthis_pill_style
/ AddThis Button END


%script{:src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51b951986d91fc0d", :type => "text/javascript"}
%script{:src => 'http://connect.facebook.net/en_US/all.js'}

:javascript
  FB.init({
    appId: '608844989133669',
    status: true,
    cookie: true
  });

  var addthis_config = {"data_track_addressbar":true};

  window.current_path = "#{request.protocol}#{request.host_with_port}#{request.fullpath}"

  var addthis_share =
  {
  // ...
      templates: {
                     twitter: 'check out ' + window.current_path + 'crests/new_test.png' + ' (from @gallo)',
                 }
  }



